
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo"><img src="{{ "/assets/img/" | prepend: site.baseurl | append : site.logo }}" alt="{{site.title}}"></a>
  <nav class="main_menu" id='menu_principal'>
    <a href="{{site.baseurl}}/#mitos">Mitos</a>
    <a href="{{site.baseurl}}/#mulheres-e-sistema-politico">Mulheres negras e sistema político</a>
    <a href="{{site.baseurl}}/#diagnostico">Diagnóstico</a>
    <a href="{{site.baseurl}}/inscricoes/">Inscrições</a>
    <a href="javascript:void(0);" class="icon" onclick="launchMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </nav>
</header> <!-- End Section Header -->
<script>
function launchMenu() {
    var x = document.getElementById("menu_principal");
    if (x.className === "main_menu") {
        x.className += " responsive";
    } else {
        x.className = "main_menu";
    }
}
</script>
