---
layout: default
---


  {% include banner.html %}
<section class='description-section'>
  <h2>Mulheres Negras Decidem um Novo Projeto de Democracia</h2>
  <p>Com a campanha Mulheres Negras Decidem, da Rede Umunna, queremos continuar um longo legado de movimentos de mulheres negras que lutam pelo avanço dos direitos através do fortalecimento de processos eleitorais. Em 2018, confie em mulheres negras, construa com mulheres negras, fortaleça mulheres negras.</p>
  <p>Mulheres Negras Decidem é uma declaração de crença no poder das gerações atuais em cumprir a promessa democrática.</p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/RS7IzU2VJIQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
</section>
<section class="">
  <h2 id="mitos">Mitos</h2>
</section>
  <main class="page-content" aria-label="Content">
  <section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>
<section id='mulheres-e-sistema-politico' style="background-image: url({{ "/assets/img/segunda.jpg" | prepend: site.baseurl }})">
    <div class="wrapper">
      <div class="content">
        <h2 class="title"><p>Mulheres Negras</p></h2>
        <h2 class="title"><p>e Sistema Político</p></h2>
      </div>
    </div>
</section>
<section class='description-section'>
  <h3>Sistema político das candidatura de Léila González, Jurema Batista e Marielle</h3>
  <a src="https://soundcloud.com/redeumunna/mulheres-negras-decidem-ep-1"><h3>Clique aqui para ouvir ao Podcast</h3></a>
  <div class="candidata">
    <img src="/assets/img/foto1.png">
    <div class="texto-candidata">
      Lélia Gonzalez
      Eleições de 1982 e 1992
      Cargos disputados: Deputada Federal e Deputada Estadual
      Unidade Federativa: Rio de Janeiro
      Partidos: PT e PSD
      Máximo de votos: 14.909
    </div>
  </div>
  <div class="candidata">
    <img src="/assets/img/foto2.png">
    <div class="texto-candidata">
      Lélia Gonzalez
      Eleições de 1982 e 1992
      Cargos disputados: Deputada Federal e Deputada Estadual
      Unidade Federativa: Rio de Janeiro
      Partidos: PT e PSD
      Máximo de votos: 14.909
    </div>
  </div>
  <div class="candidata">
    <img src="/assets/img/foto3.png">
    <div class="texto-candidata">
      Lélia Gonzalez
      Eleições de 1982 e 1992
      Cargos disputados: Deputada Federal e Deputada Estadual
      Unidade Federativa: Rio de Janeiro
      Partidos: PT e PSD
      Máximo de votos: 14.909
    </div>
  </div>
  <div class="candidata">
    <img src="/assets/img/foto4.png">
    <div class="texto-candidata">
      Lélia Gonzalez
      Eleições de 1982 e 1992
      Cargos disputados: Deputada Federal e Deputada Estadual
      Unidade Federativa: Rio de Janeiro
      Partidos: PT e PSD
      Máximo de votos: 14.909
    </div>
  </div>
</section>
</main>
