---
layout: default
---


  {% include banner.html %}
<section class='description-section'>
  <h2>Mulheres Negras Decidem um Novo Projeto de Democracia</h2>
  <p>Com a campanha Mulheres Negras Decidem, da Rede Umunna, queremos continuar um longo legado de movimentos de mulheres negras que lutam pelo avanço dos direitos através do fortalecimento de processos eleitorais. Em 2018, confie em mulheres negras, construa com mulheres negras, fortaleça mulheres negras.</p>
  <p>Mulheres Negras Decidem é uma declaração de crença no poder das gerações atuais em cumprir a promessa democrática.</p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/l5kMEzwOGVY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
</section>
<section class="">
  <h2 id="mitos">Mitos</h2>
</section>
  <main class="page-content" aria-label="Content">
  <section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>
<section id='mulheres-e-sistema-politico' style="background-image: url({{ "/assets/img/segunda.jpg" | prepend: site.baseurl }}) repeat: none;">
    <div class="wrapper">
      <div class="content">
        <h2 class="title"><p>Mulheres Negras</p></h2>
        <h2 class="title"><p>e Sistema Político</p></h2>
      </div>
    </div>
</section>
<section class='description-section' >
  <div class="texto-inicial-candidatas">
    <h3>Sistema político das candidatura de Léila González, Jurema Batista e Marielle</h3>
    <h3>Clique aqui para ouvir ao <a href="https://soundcloud.com/redeumunna/mulheres-negras-decidem-ep-1">Podcast <i class="fa fa-play" aria-hidden="true"></i></a></h3>
  </div>
  <div class="row-candidata">
    <div class="candidata">
      <div class="foto-candidata"><img src="/assets/img/foto1.png"></div>
      <div class="texto-candidata">
        <h4><b>Lélia Gonzalez</b></h4>
        <p>Eleições de 1982 e 1992</p>
        <p>Cargos disputados: Deputada Federal e Deputada Estadual</p>
        <p>Unidade Federativa: Rio de Janeiro</p>
        <p>Partidos: PT e PSD</p>
        <p>Máximo de votos: 14.909</p>
      </div>
    </div>
    <div class="candidata">
      <div class="foto-candidata"><img src="/assets/img/foto2.png"></div>
      <div class="texto-candidata">
        <h4><b>Jurema Batista</b></h4>
<p>Eleições de 1992, 1996, 2000, 2002</p>
<p>Cargos disputados: Vereadora, deputada estadual</p>
<p>Unidade Federativa: Rio de Janeiro</p>
<p>Partidos: PT</p>
<p>Máximo de votos: 35.986</p>
      </div>
    </div>
  </div>
  <div class="row-candidata">
    <div class="candidata">
      <div class="foto-candidata"><img src="/assets/img/foto3.png"></div>
      <div class="texto-candidata">
        <h4><b>Benedita da Silva</b></h4>
  <p>Eleições de 1982, 1986, 1989, 1992, 1994, 1998, 2002, 2006, 2010, 2014</p>
  <p>Cargos disputados: Vereadora, prefeita, deputada federal, senadora, governadora</p>
  <p>Unidade Federativa: Rio de Janeiro</p>
  <p>Partidos: PT</p>
      </div>
    </div>
    <div class="candidata">
      <div class="foto-candidata"><img src="/assets/img/foto4.png"></div>
      <div class="texto-candidata">
        <h4><b>Marielle Franco</b></h4>
  <p><b>Eleição de 2016</b></p>
  <p>Cargo disputado: Vereadora</p>
  <p>Unidade Federativa: Rio de Janeiro</p>
  <p>Partido: PSOL</p>
  <p>Campanha: Mulher, negritude, favela</p>
  <p>Máximo de votos: 46.502</p>
      </div>
    </div>
  </div>
</section>
<section id="diagnostico">
  <div>
    <h2>DIAGNÓSTICO</h2>
    <h3>AS NOSSAS TRAJETÓRIAS, ENQUANTO MULHERES NEGRAS, FALAM SOBRE NÓS.</h3>
    <h3 class="importante">OS DADOS TAMBÉM FALAM SOBRE NÓS!</h3>
    <h3>MAS NÃO SÃO OLHADOS. MUITOS DELES, INCLUSIVE PRODUZIDOS POR ÓRGÃOS OFICIAIS DE PESQUISA, NÃO REALIZAM O RECORTE RACIAL E DE GÊNERO.</h3>
    <h3 class="importante">VAMOS ENTENDER O PROBLEMA PARA CONSTRUIRMOS JUNTOS UM FUTURO NO QUAL AS MULHERES NEGRAS DECIDEM!</h3>
  </div>
  <div class="graficos">
    <div class="grafico-row">
      <div class="card-grafico">
        <div class="titulo-grafico">Duas fases entre existirmos e sermos representadas</div>
        <div class="descripcao-grafico">
          <p>Somos mais de 27% da população brasileira e somos menos de 2% no congresso nacional.</p>
          <p>Total Congresso 513 / Mulheres Negras 10</p>
          <p>Sugestão representação com proporção de bonecas pretas</p>
        </div>
        <img src="/assets/img/grafico1.png">
      </div>
      <div class="card-grafico">
        <div class="titulo-grafico">Investimento em candidaturas de mulheres negras</div>
        <div class="descripcao-grafico">
          <p>Apenas 2,51% das despesas de todos os candidatos ao Legislativo estava relacionada a candidaturas de mulheres negras, em 2014.</p>
        </div>
        <img src="/assets/img/grafico2.png">
      </div>
    </div>
    <div class="grafico-row">
      <div class="card-grafico">
        <div class="titulo-grafico">Qual a chance de sermos eleitas?</div>
        <div class="descripcao-grafico">
          <p>Elegibilidade total de mulheres negras para o legislativo em 2014 foi de apenas 1,6.</p>
          <p>Além disso, o indicador aparece zerado para algumas formações abaixo do nível superior, diferente de outros grupos demográficos.</p>

        </div>
        <img src="/assets/img/grafico3.png">
        <p class="small">*Elegibilidade (Total de Eleitos/Total de Candidaturas*100)</p>
      </div>
      <div class="card-grafico">
        <div class="titulo-grafico">Financiamento em campanhas têm grande correlação com maior elegibilidade</div>
        <div class="descripcao-grafico">
        </div>
        <img src="/assets/img/grafico4.png">
        <p class="small">*Despesas vs. Elegibilidade</p>
      </div>
    </div>


  </div>

</section>
</main>
